In [6]:
import pandas as pd
import datetime
import requests

df = pd.read_csv("./aoc_day4.csv",header=None)

df[['first','second']] = df[0].str.split(',', 1, expand=True)
df[['first_start','first_end']] = df['first'].str.split('-',1,expand=True)
df[['second_start','second_end']] = df['second'].str.split('-',1,expand=True)
df = df.drop(columns = [0,'first','second'])

df[["first_start", "first_end","second_start","second_end"]] = df[["first_start", "first_end","second_start","second_end"]].apply(pd.to_numeric)
pd.set_option('display.max_rows', 10)
display(df)

C:\Users\A652990EL\AppData\Local\Temp\ipykernel_19368\594452706.py:7: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['first','second']] = df[0].str.split(',', 1, expand=True)
C:\Users\A652990EL\AppData\Local\Temp\ipykernel_19368\594452706.py:8: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['first_start','first_end']] = df['first'].str.split('-',1,expand=True)
C:\Users\A652990EL\AppData\Local\Temp\ipykernel_19368\594452706.py:9: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['second_start','second_end']] = df['second'].str.split('-',1,expand=True)

     first_start  first_end  second_start  second_end
0             22         77            14          96
1              7         99            65          98
2             22         36            37          62
3             25         94            24          67
4              6         91             1           6
..           ...        ...           ...         ...
995           14         36            13          36
996           58         64            59          65
997           20         92            21          55
998           20         85            19          20
999           19         47            18          99

[1000 rows x 4 columns]

In [7]:
def check_full_overlap (row):
    
    overlapping_elf = 0
    
    if((set((range(row['first_start'],row['first_end']+1))).issubset(range(row['second_start'],row['second_end']+1))) or (set((range(row['second_start'],row['second_end']+1))).issubset(range(row['first_start'],row['first_end']+1)))):
        overlapping_elf+=1


    return overlapping_elf

print("Answer 1: {0}".format(df.apply(check_full_overlap, axis=1).sum()))

Answer 1: 532

In [8]:

def check_partly_overlap (row):
    overlapping_elf = 0
    
    first_set = set(range(row['first_start'],row['first_end']+1))
    second_set = set(range(row['second_start'],row['second_end']+1))

    if((first_set.intersection(range(row['second_start'],row['second_end']+1))) or (second_set.intersection(range(row['first_start'],row['first_end']+1)))):
        overlapping_elf +=1

    return overlapping_elf

print("Answer 2: {0}".format(df.apply(check_partly_overlap,axis=1).sum()))

Answer 2: 854

In [9]:
def check_overlap (row):
    
    overlapping_elf = 0
    first_string = str(row['first_start'])
    second_string = str(row['second_start'])
    for i in range(row['first_start']+1,row['first_end']+1):
        first_string +="-"+ str(i)
    for j in range(row['second_start']+1,row['second_end']+1):
        second_string += "-"+ str(j)
    
    
    # print("first string: {0}, second string: {1}".format(first_string,second_string))
    # print(second_string)

    if first_string in second_string:
        # print("row: {4} - overlapped {0}-{1} > {2}-{3}".format(row['first_start'],row['first_end'],row['second_start'],row['second_end'],row.name))
        overlapping_elf += 1
        
    if second_string in first_string:
        # print("row: {4} - overlapped {0}-{1} < {2}-{3}".format(row['first_start'],row['first_end'],row['second_start'],row['second_end'],row.name))
        overlapping_elf +=1
    return overlapping_elf



df.apply(check_overlap, axis=1).sum()

580