In [35]:

import re
import numpy as np
import pandas as pd
import copy

short = False

with open("aoc_day5_full.csv") as f:
    data = f.read().split('\n\n')

data[0]
stacks = data[0].splitlines()[:-1]
stacks = np.matrix([[x[i] for i in range(1,34,4)] for x in stacks]).T[:,::-1].tolist()
stacks = [[cell for cell in row if cell != " "] for row in stacks]

print(stacks)

[['H', 'C', 'R'], ['B', 'J', 'H', 'L', 'S', 'F'], ['R', 'M', 'D', 'H', 'J', 'T', 'Q'], ['S', 'G', 'R', 'H', 'Z', 'B', 'J'], ['R', 'P', 'F', 'Z', 'T', 'D', 'C', 'B'], ['T', 'H', 'C', 'G'], ['S', 'N', 'V', 'Z', 'B', 'P', 'W', 'L'], ['R', 'J', 'Q', 'G', 'C'], ['L', 'D', 'T', 'R', 'H', 'P', 'F', 'S']]

In [36]:
df = data[1].splitlines()

df = [w.replace('move ', '')  for w in df]
df = [w.replace('from ', '')  for w in df]
df = [w.replace('to ', '')  for w in df]

df = [i.split(' ',2) for i in df]
df = pd.DataFrame(df,columns = ['moves','from', 'to']).astype('int')
df['from'] =df['from'] -1
df['to'] =df['to'] -1
display(df)

     moves  from  to
0        8     6   0
1        9     0   8
2        4     4   3
3        4     5   0
4        3     7   4
..     ...   ...  ..
498      7     5   2
499      1     3   0
500      7     2   1
501      3     2   4
502      2     3   6

[503 rows x 3 columns]

In [37]:
def move_crate(stack,moves,from_stack,to_stack):
    for _ in range(moves):
        stack[to_stack].extend(stack[from_stack][-1])
        stack[from_stack].pop()
    return stack

In [38]:
stacks_1 = copy.deepcopy(stacks)

for i in range(len(df)):
    stacks_1 = move_crate(stacks_1,df.iloc[i]['moves'],df.iloc[i]['from'],df.iloc[i]['to'])

str_1 = ""
for i in range(len(stacks_1)):
    str_1 += stacks_1[i][-1]

f'Answer 1: {str_1}'

'Answer 1: SHQWSRBDL'

In [39]:
stacks_2 = copy.deepcopy(stacks)

for i in range(len(df)):
    stacks_2[df.iloc[i]['to']].extend(stacks_2[df.iloc[i]['from']][-df.iloc[i]['moves']:])
    del stacks_2[df.iloc[i]['from']][-df.iloc[i]['moves']:]

str_2 = ""
for i in range(len(stacks_2)):
    str_2 += stacks_2[i][-1]

f'Answer 2: {str_2}'

'Answer 2: CDTQZHBRS'